 -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
@keyframes bounce {
	0%, 20%, 60%{
		transform: translateY(0);
	}

	40%, 43%{
		transform: translateY(-30px);
	}

	75%{
		transform: translateY(-20);
	}

	100%{
		transform: translateY(0);
	}

}

.bounce {
	animation: bounce 2s infinite;
}